.OptionCard{
    margin-left: 20px;
    margin-right: 20px;
}

.Option{
    display: flex;
}

.optionText{
    border-style: dotted;
    height: 38px;
    border-radius: 6px;
    width: 92%;
    float: left;
    margin-bottom: 10px;
    padding-right: 10px;
}

.optionText .ant-input{
    max-width: 90%;
    border: none;
}

.optionText .ant-input:hover{
    border-color: none;
    box-shadow: none;
}
.optionText .ant-input:focus{
    border-color: none;
    box-shadow: none;
}
.Option .CloseButton{
    position: relative;
    right: 0px;
    height: 38px;
    border:none;
}
.rightOption{
    border-color: green;
}
.wrongOption{
    border-color: red;
}
.optionNumber{
    float: left;
    height: 36px;
    padding: 2px;
}

.optionType{
    margin: 5px;
}
