#float-label {
    display: flex;
    flex-direction: column;
    min-width: 350px;
    position:relative;
  }
  
  #float-label input {
    width: 100%;
    height: 56px;
    padding: 14px 16px 0 10px;
    outline: 0;
    border-radius: 15px;
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
  }
  
  #float-label label {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 12px;
    color: #999;
    pointer-events: none;
    position: absolute;
    transform: translate(0, 20px) scale(1);
    transform-origin: top left;
    transition: all 0.2s ease-out;
  }

  #float-label:focus-within label {
    transform: translate(0, 4px) scale(0.75);
  }

  #float-label .Active {
    transform: translate(0, 4px) scale(0.75);
  }